# Ignore node_modules
node_modules/

venv/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore SQLite databases
*.sqlite

# Ignore npm lock files
package-lock.json

# Ignore IDE configurations
.vscode/
.idea/
.these

