/* General container styling */
  
.commentsPage {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 100vh;
    background-color: #e0d4fa;
    border-radius: 15px;
    padding: 20px;
    padding-top: 90px;
    text-align: center;
}

/* Header styling */
.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Paragraph styling */
.description {
    font-size: 18px;
    margin-bottom: 30px;
    color: #333;
}

/* Highlighted text */
.highlight {
    font-weight: bold;
    color: #0056b3;
}

/* Description Section */
.topDescription {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

/* Back Button Styling */
.login-back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.1s ease;
    z-index: 1000;
}

.login-back-button:hover {
    background-color: #0056b3;
}
.graphContainer {
    display: flex; /* Flexbox to align items side by side */
    justify-content: space-between; /* Space between description and graph */
    align-items: flex-start; /* Align items at the top */
    width: 90%; /* Adjust width as needed */
    max-width: 1200px; /* Limit the width */
    margin-top: 70px; /* Space between sections */
    margin-bottom: 0px; /* Space between graphs */
  }
  
  /* Description Section */
  .description {
    width: 30%; /* Set the width for the description */
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 10px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    margin-right: 20px; /* Add space between description and graph */
  }
  
  .feedbackBox {
    background-color: #e0f7ff; /* Light blue background */
    border-left: 5px solid #4a90e2; /* Light blue left border for emphasis */
    padding: 15px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  /* Increase space between title and paragraph */
.description h3 {
    margin-bottom: 10px; /* Adjust as needed */
  }
  
  .description p {
    margin-top: 10px; /* Adjust as needed */
  }