/* General Styling */
.home-box {
    padding: 40px;
    border-radius: 20px;
    text-align: center;
    max-width: 500px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

/* Header Styling */
.home-header {
    margin-bottom: 20px;
}

.home-header h1 {
    font-size: 32px;
    font-weight: bold;
}

/* Button Container */
.home-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Button Styling */
.home-button {
    font-size: 20px;
    padding: 20px 25px;
    background-color: #4267B2;
    color: #fff;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.1s ease;
    margin-top: 30px;
}

.home-button:hover {
    background-color: #365899;
}

/* Login Button Styling */
.login-back-button {
    position: sticky;
    top: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 0 0 5px 0;
    transition: background-color 0.1s ease;
    z-index: 1000;
    width: fit-content;
}

.login-back-button:hover {
    background-color: #0056b3;
}

.generalMetricsHeader {
    margin-top: 70px;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}