/* General Styling */
.home-box {
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  max-width: 500px; /* Adjust max width to make the content box smaller */
  width: 100%;
  margin: 0 auto; /* Center the box horizontally */
  position: relative; /* Ensures positioning of the Back to Login button */
}

/* Header Styling */
.home-header {
  margin-bottom: 20px;
}

.home-header h1 {
  font-size: 32px;
  font-weight: bold;
}

/* Button Container */
.home-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Button Styling */
.home-button {
  font-size: 20px;
  padding: 20px 25px;
  background-color: #4267B2; /* Facebook blue */
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.1s ease;
  margin-top: 30px; /* Space between sections */
}

.home-button:hover {
  background-color: #365899; /* Darker blue on hover */
}

/* Login Button Styling */
.login-back-button {
  position: fixed; /* Position fixed to the screen */
  top: 10px;
  left: 10px; /* Left-aligned */
  padding: 10px 20px;
  font-size: 14px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.1s ease;
}

.login-back-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

.generalMetricsHeader {
  margin-top: 70px; /* Space between sections */
  font-size: 40px;  /* Increase font size */
  font-weight: bold; /* Optional, if you want it bold */
  margin-bottom: 20px; /* Space below the header */
}

